<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Culture</title>
</head>
<body>
<div class="container" id="main-container">
    <div class="row block-home page-section">
        <div class="col-sm-7">
            <div class="row main-title">中国传统<span class="colored">古诗词</span>文化</div>
            <div class="row sub-title">诗文化深刻、生动地体现着中国文化的基本精神。诗文学是语言的艺术， 是民族的精神与心灵史，也是文化的主要形态之一。中国文学历经3000多年不曾中断， 是世界上历史最悠久的文学之一，是中国文化中最重要、最璀璨的部分。</div>
            <div class="row ctr-more">
                <div class="btn-more">
                    <div class="more-text">了解更多</div>
                    <div class="more-arrow"> > </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="row block-nav navbar-default navbar-static" id="navbar" role="navigation">
        <ul class="navi-bar nav">
            <li class="navi-item to-homepage col-sm-2" ><a href="#" role="tab" data-toggle="tab">首页</a></li>
            <li class="navi-item to_people col-sm-2" :class="active==1?'active':''"><a href="#people" role="tab" data-toggle="tab">代表<span class="colored">人物</span></a></li>
            <li class="navi-item to_masterpiece col-sm-2" :class="active==2?'active':''"><a href="#masterpiece" role="tab" data-toggle="tab">经典<span class="colored">佳作</span></a></li>
            <div class="search-bar col-sm-3">
                <input type="search" class="search-bar-item">
                <span class="glyphicon glyphicon-search search-icon"></span>
            </div>
            <div class="btn-cir col-sm-1 col-sm-offset-1">
                <a href="register.html"><div class="btn-cir-item btn-register">注册</div></a>
            </div>
            <div class="btn-cir col-sm-1">
                <a href="login.html"><div class="btn-cir-item btn-login">登录</div></a>
            </div>
        </ul>
    </nav>
    <div class="row block-people-header block-header page-section">
        <div class="title-position title-left col-sm-4">
            <div class="title-num">01</div>
            <div class="title-header">代表人物</div>
        </div>
        <div class="title-mid col-sm-4 title-video">
            <video class="people-video" src="res/video/vheader1.mp4" muted autoplay loop></video>
        </div>
        <div class="title-position title-right col-sm-4">
            <div class="page-title">统古诗词文化</div>
        </div>
    </div>
    <div class="row block-people-content"  id="people">
        <div v-for="(item,index) in peopleData" class="row people" :class="index%2?'people-double':'people-single'">
            <div class="col-sm-1 circle-mask">
                <div class="circle"></div>
            </div>
            <div class="col-sm-7 people-content col-sm-offset-4">
                <div class="people-title">
                    <img :src="item.img" :alt="item.name">
                    <div class="people-name" v-html="item.html_name"></div>
                </div>
                <div class="people-description">{{ item.description }}</div>
            </div>
        </div>
    </div>
    <div class="row block-masterpiece-header block-header page-section">
        <div class="title-position title-left col-sm-4">
            <div class="title-num">02</div>
            <div class="title-header">经典佳作</div>
        </div>
        <div class="title-mid col-sm-4 title-video">
            <video class="masterpiece-video" src="res/video/vheader2.mp4" muted autoplay loop></video>
        </div>
        <div class="title-position title-right col-sm-4">
            <div class="page-title">统古诗词文化</div>
        </div>
    </div>
    <div class="row block-masterpiece-content"  id="masterpiece">
        <div class="masterpiece-list-area col-sm-3 col-sm-offset-1">
            <div class="img-circle" :style="'background: url(\''+masterpiece[current_selected].img+'\') no-repeat right/cover;'"></div>
            <div class="masterpiece-list">
                <div class="select-bar">
                    <div class="select-circle"></div>
                    <div class="select-line"></div>
                </div>
                <ul>
                    <li v-for="(mp,index) in masterpiece" :id="index" @click="changeCurrentMasterpiece($event)">
                        <div :class="current_selected == index?'selected-masterpiece':'unselected-masterpiece'">
                            <div class="masterpiece-title">{{ mp.title }}</div>
                            <div class="masterpiece-author">{{ mp.author }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="masterpiece-content-area col-sm-6">
            <div class="masterpiece-content" v-html="masterpiece[current_selected].content"></div>
            <div class="row ctr-more">
                <div class="btn-more">
                    <a :href="masterpiece[current_selected].url"><div class="more-text">了解更多</div></a>
                    <div class="more-arrow"> > </div>
                </div>
            </div>
        </div>
        <div class="masterpiece-header-area col-sm-2">
            <div class="masterpiece-header">
                {{ masterpiece[current_selected].title }}
            </div>
        </div>
    </div>
</div>
</body>
</html>